body{
    background-color: ivory;
    margin: 0 auto;
}
header {
    width: 100%;
    height: 80px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
}            
#headerh1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 240px;
    height: 80px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    background-color: #ed9b9b;
    color: #ffffff;
    padding: 20px 20px 20px 20px;
    box-sizing: border-box;
    text-align: center;
    margin: 0 auto;
}
.topnav a {
    float: right;
    color: #777777;
    text-align: center;
    padding: 28px 16px;
    display: inline-block;
    text-decoration: none;
    font-size: 17px;
}            
#imgyuwen {
    float: left; margin-right: 20px;
}
h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    color: #ed9b9b;
    padding: 0em 0em 25px 0em;
    border-bottom-width: 2px;
    border-bottom-color: lightgray;
    border-bottom-style: solid;
    margin-bottom: 1em;
}
main {
    background-color: white;
    width: 1024px;
    padding: 25px;
    margin: 0 auto;
    margin-bottom: 2em;
}
footer {
    width: 100%;
    background-color: gray;
    color: white;
    text-align: center;
    font-size: 10pt;
    padding: 20px;
    border-top-width: 8px;
    border-top-color: #ed9b9b;
    border-top-style: solid;
}
p {
    color: gray;
}
#contactp {
    color: gray;
    margin: 0px 0px 8px 0px;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.column {
    flex: 33.33%;

}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
#name, #email {
    border-style: solid;
    border-color:lightgray;
    border-width: 1px;
    padding: 3px 0px 3px 6px;
}

#fillarea{
    height: 150px;
    border-style: solid;
    border-color:lightgray;
    border-width: 1px;
    margin-bottom: 16px;
}

#submit {
    background-color: #ed9b9b;
    color: white;
    width: 90px;
    padding: 3px 0px 3px 0px;
    text-align: center;
}
.active_link {
    background-color: #ed9b9b !important;
    color: white !important;
}

#aboutpage:hover, #ptfpage:hover, #contactpage:hover {
    background-color: pink;
    }  
.container {
    position: relative;
}
#prtimg1, #prtimg2, #prtimg3, #prtimg4, #prtimg5 {
    width: 340px;
    height: auto;
    opacity: 1;
    filter: alpha(opacity=50); 
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

#text1, #text2, #text3, #text4, #text5  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    color: black;
    visibility:hidden;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

#prtimg1:hover, #prtimg2:hover, #prtimg3:hover, #prtimg4:hover, #prtimg5:hover {
    opacity: 0.3;
    filter: alpha(opacity=50); 
}
.container:hover #text1 {
    visibility:visible;
}
.container:hover #text2 {
    visibility:visible;
}
.container:hover #text3 {
    visibility:visible;
}
.container:hover #text4 {
    visibility:visible;
}
.container:hover #text5 {
    visibility:visible;
}

.topnav .icon {
    display: none;
  }

#headerh1_hidden {
    display: none;
}

@media screen and (max-width: 1024px) {    
    body {
        width: 1024px;
    }
    main {
        width: 960px;
    }
    #prtimg1, #prtimg2, #prtimg3, #prtimg4, #prtimg5 {
        width: 320px;
    }
@media screen and (max-width: 980px) {   
    body {
        width: 980px;
    } 
        main {
            width: 900px;
        }
        #prtimg1, #prtimg2, #prtimg3, #prtimg4, #prtimg5 {
            width: 300px;
}
@media screen and (max-width: 768px) {    
    body {
        width: 768px;
    }
    main {
        width: 600px;
    }
    .column {
        flex: 50%;
  }
  #prtimg1, #prtimg2, #prtimg3, #prtimg4, #prtimg5 {
    width: 300px;
}

@media screen and (max-width: 640px) {
    body {
        width: 640px;
    }
    main {
        width: 375px;
    }
    .column {
        flex-direction: column;
    }
    .topnav a {display: none;}
    
    .topnav a.icon {
          float: right;
          display: block;
    }    
}

@media screen and (max-width: 640px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: center;
      background-color: white;
    }
    #headerh1 {
        display: none;
    }
    #headerh1_hidden {
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 80px;
        height: 80px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
        background-color: #ed9b9b;
        padding: 20px 10px 20px 10px;
        color: #ffffff;
        box-sizing: border-box;
        text-align: center;
        margin: 0 auto;
    }
}