body{
    line-height: 1;
}
/* header */
header {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 80px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    z-index: 10;
}        
    /* logo     */
    #logo {
        position: absolute;
        top: 1em;
        left: 1.5em;
        height: 50px;
        box-sizing: border-box;
        margin: 0 auto;
    }

    /* nav bar */
    .topnav {
        float: right;
        margin-right: 1em;
        display: block;
    }
    
    #aboutpage, #ptfpage, #resume  {
        float: right;
        color: #777777;
        text-align: center;
        margin: 28px 16px;
        display: block;
        text-decoration: none;
        font-size: 17px;
        font-family: 'Roboto', sans-serif;
    }
    .topnav .icon {
        display: none;
    }
    #resume{
        border: 1px solid #777777;
        border-radius: 20px;
        padding: 5px;
        margin: 22px 16px;
    }
    #resume:hover{
        color:white;
        background-color:#777777;
    }

    #aboutpage:hover, #ptfpage:hover {
        color: #ed9b9b
    } 
    .active_link {
        color: #DB696A !important;
    }


/* leading */
.leading {
    display: block;
    margin: 0 auto 30px;
    max-width: 1040px;
    height: 240px;
    margin-top: 100px;
    padding: 30px;
    background-size: cover;
}

.leading-bigtext {
    color: black;
    font-weight: bold;
    font-size: 90pt;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}

.leading-text {
    font-size: 50pt;
    font-family: 'Montserrat', sans-serif;
    margin-top: 15px;
}

@media (max-width: 1100px) {
    .leading-bigtext {
        font-size: 55pt;
    }
    .leading-text {
        font-size: 42pt;
    }
}

@media (max-width: 640px) {
    .leading-bigtext {
        font-size: 42pt;
    }
    .leading-text{
    font-size: 31pt;
    }
}

@media (max-width: 370px) {
    .leading-bigtext {
        font-size: 31pt;
    }
    .leading-text{
        font-size: 24pt;
    }
}

/* card grids for portfolio*/
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-gap: 30px;
    max-width: 1040px;
    margin: 0 auto 30px;
    margin-top: 20px;

} 

article {
    position: relative;
}
.cardcontainer {
    position: relative;
  }
  
.article-img {
    height: 400px;
    width: 100%;
    object-fit: cover;
}

.article-title {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    position: absolute;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.article-subtitle {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    position: absolute;
    top: 55%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.code {
    position: absolute;
    bottom: 1em;
    left: 1em;
    height: 30px;
    opacity: 0;
    transition: .5s ease;
    z-index: 5;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    z-index:2;
}

#img1 {
    background-color: #0088CA;
}
#img2 {
    background-color: #270A74;
}
#img3 {
    background-color: #820210;
}
#img4 {
    background-color: #E2AB09;
}
#img5 {
    background-color: #1F263A;
}
#img6 {
    background-color: #7D8389;
}
#img7 {
    background-color: #00AE62
}
  
.cardcontainer:hover .overlay{
    opacity: 1;
}

article:hover .code {
    opacity: 1;
}

/* social media icon */
.fa {
    margin-top: 15px;
    padding: 10px;
    height: 50px;
  }

  /* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}


/* text for about */
.text {
    max-width: 1040px;
    margin: 0 auto 30px;
    margin-top: 20px;
} 

.textcontainer {
    color: #4A4A4A;
    font-family: 'Open Sans', sans-serif;
    font-size: 17pt;
    line-height: 26pt;
    margin-top: 60px;
}

@media (max-width: 1100px) {
    .textcontainer {
        padding-left: 1.5em;
        padding-right: 1.5em;

    }
}

h5{
    font-size: 24pt;
    margin-bottom: 0.5em;
}
input {
    font-family: 'Open Sans', sans-serif;
    color: gray;
}

#contactp {
    color: gray;
    margin: 0px 0px 8px 0px;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.column {
    flex: 33.33%;

}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
#name, #email {
    border-style: solid;
    border-color:lightgray;
    border-width: 1px;
    padding: 3px 0px 3px 6px;
    width: 100%;
}

#fillarea{
    height: 150px;
    border-style: solid;
    border-color:lightgray;
    border-width: 1px;
    margin-bottom: 16px;
    width: 100%;
}

#submit {
    background-color: #ed9b9b;
    color: white;
    width: 90px;
    padding: 3px 0px 3px 0px;
    text-align: center;
}


  
@media screen and (max-width: 1024px) {    
    main {
        width: 100%;
    }
}
@media screen and (max-width: 980px) {   
    main {
            width: 100%;
    }
}
@media screen and (max-width: 768px) {    
    main {
        width: 100%;
    }
}

@media screen and (max-width: 640px) {
    main {
        width: 100%;
        margin-top: 30px;
    }
    header {
        position: relative;
    }
    footer {
        position: relative;
    }
    #imgyuwen {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    }
    .topnav a {display: none;}
    .topnav a.icon {
          float: right;
          display: block;
    }    
}

@media screen and (max-width: 640px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: center;
      background-color: white;
    }
    #headerh1 {
        display: none;
    }
    #headerh1_hidden {
        display: block;
    }
}
